body{
    background-color: rgb(66, 95, 189);
    transition: background-color 2s;
}

h1 {
    color: antiquewhite;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.button1{
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 2px;
    border-radius: 25px;
    
}

.button1:hover{
    cursor: pointer;
}

.button1:focus{
    background-color: rgb(0,0,0, 0.2);
}

p{
    color: antiquewhite;
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
}

.box{
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 5%;
    padding: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

.in{
    display: flex;
    justify-content: center;
}